<div id="landingpage">

<!-- <div class="container"> -->
      <div id="content">
        <div>
        <%= image_tag src="logo_stack.png", class: "logo"  %>

       </div>
          <div id= "landingmessage">
            <h3>Skip the hassle.</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%= link_to 'Pick a Bar', "/bars", :class => "btn btn-default" %>
            <br>
            <br>
            <br>
          </div>
    </div>
</div>
