$( document ).ready(function() {
    console.log( "reeeady!" );
    $('#code').click(function () {
    var val = 30 + '%';
    $('.progress-bar').width(val).text(val);
    $('.message').append('<h3>Your order was Received!</h3>')
  })
  $('#code1').click(function () {
    $('#code1').attr("class", "btn btn-success");
    App.room.speak("Order has been recieved");
  })
  $('#code2').click(function () {
    $('#code2').attr("class", "btn btn-success");
    App.room.speak("You drink is being made!");
  })
  $('#code3').click(function () {
  $('#code3').attr("class", "btn btn-success");
    App.room.speak("Your drink is ready!");
  })
});

// $(document).ready(function(){
//   console.log("Im here");
//   });
