// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks {
    background-image: url("drinkhand.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

/* Preserve aspet ratio */
min-width: 100%;
min-height: 100%;

    text-align: center;
  #totalbody{
    margin: 50px 100px;
    background-color: rgba(54, 25, 25, .05);
    padding: 50px;
    border-radius: 10px;
  }
  #order-status-back {
    margin: 300px 100px;
    // background-color: rgba(200, 200, 200, .05);
    padding: 50px;
    border-radius: 10px;
    color: white;
  }
  #total {
    color: green;
  }
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
