/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.drinks {
  img {
    border-radius: 50%;
    border: 1px solid red;
    transition: 2s;
    &:hover {
      transform: rotate(360deg);
    }
  }
  .test {
    text-align: center;
  }
}
