/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.logo {
  width: 75vw;
  height: 22vw;
}
.orders {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
#stripeinfo {
  justify-content: center;
  text-align: center;
}
#order-number {
  font-size: 5.5em;
}
#thanks-paid {
  font-size: 4.5em;
}
.message{
  font-size: 3.5em;
}
.reviewrow {
  padding: 50px;
}
.order-status {
  text-align: center;
}

.progress-back {
  margin: 50px;

}
.progress {
  height: 50px;
  border-radius: 20px;
}
.order-status {
  font-size: 6em;
}
#messages .message:nth-child(2) p {
  font-size: 1em;
  color: white;
  background-color: rgba(91, 192, 222, 0.8);
  border-radius: 10px;
}
#messages .message:nth-child(3) p  {
  font-size: 1em;
  color: white;
  border-radius: 10px;
  background-color: rgba(248, 148, 6, 0.8);
}
#messages .message:nth-child(4) p  {
  color: white;
  border-radius: 10px;
  background-color: rgba(81, 163, 81, 0.8);
  font-size: 1.5em;
}
#checkmark {
  color: white;
  border-radius: 100%;
  background-color: rgba(81, 163, 81, 0.8);
  font-size: 15em;
  margin: auto;
  width: 45%;
}
.orders__header{
  margin-top: 0;
  color: white;
  font-size: 80px;
}
.order-row-unique {
  background: rgba(255, 255, 255, .5);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  margin: 20px;
  padding: 0px 60px 10px 15px;
  font-size: 26px;
}
.price-total {
  display: flex;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}
.name-instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 5px 0px 10px;
}
.quanity-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 5px 0px 20px;
}
.prices {
  margin: 30px 5px 0px 20px;
}
.order-instructions {
  resize: none;
  border-radius: 10px;
  border: 1px solid black;
}
.quantity-instructions {
  border-radius: 10px;
  border: 1px solid black;
  width: 50px;
  padding: 5px 10px;
}
.update-drink{
  border-radius: 10px;
  border: 1px solid black;
  background: white;
  font-size: 20px;
  padding: 10px;
}
.amount {
  font-size: 80px;
  padding: 20px;
  color: white;
}
.add-drink-link {
  text-align: center;
  font-size: 20px;
}
.order-drink-image {
  margin-top: 20px;
  padding-right: 10px;
  height: 100px;
  width: 80px;
}
.order-drink-image img {
  height: 100%;
}
.add-drink-button {
  font-size: 50px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px;
}
.stripe-button span {
  height: 300px;
}
.orders__header {
  font-size: 80px;
  padding: 20px 0px;
}
#review-header-logo {
  margin: 0 auto;
}
.order-logo {
  text-align: center;
}
