<h1><strong> Your order number is # <%= @order.id %> </strong></h1>

<h2>Thanks, you paid <strong><%= pretty_amount(@order.total) %></strong>!</h2>
<h3 class="message">You order will be out shortly!</h3>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
    <span class="sr-only">45% Complete</span>
  </div>
</div>

<button id="code" type="button" class="btn btn-success" style="width:400px;">Generate Code</button>
